/**
* * Set color palette
*/

$main-color: hsla(208, 100%, 20%, 100%);
$second-color: hsla(258, 100%, 50%, 100%);
$accent-color: hsla(158, 100%, 50%, 100%);

$main-color-hover: $second-color;
$second-color-hover: $accent-color;
$accent-color-hover: hsla(208, 100%, 20%, 100%);

$text-clight: hsla(210, 17%, 100%, 100%);
$text-cdark: hsla(210, 10%, 23%, 100%);

$text-link: hsla(208, 17%, 100%, 100%);
$text-link-inv: hsla(208, 17%, 0%, 100%);
$text-link-hover: $accent-color;
$text-tlink-hover: $accent-color;
$text-menuitem-hover: $second-color;

$bgcolor-selected: hsla(210, 16%, 93%, 100%);


/**
* * Set backgound styles in mixins
*/

@mixin my_bg_main {
  background-color: $main-color;
  color: $text-clight;
}

@mixin my_bg_second {
  background-color: $second-color;
  color: $text-clight;
}

@mixin my_bg_accent {
  background-color: $accent-color;
  color: $text-cdark;
}

@mixin inherit {
  background-color: inherit;
  color: inherit;
}


/**
* * Remove a text decorations
*/

a, a[role='button'], a[role='menuitem'] {
  &:hover {
    text-decoration: none !important;
  }
}


/**
* * Create new bootstrap backgrounds
*/

.bg-vtransparent {
  background-color: transparent;
  color: $text-clight;

  a {
    color: $text-clight;
  }

  a[role='menuitem'] {
    color: inherit;
  }
}

.bg-main-color {
  @include my_bg_main();

  a {
    color: $text-link;
  }  

  a[role='menuitem'] {
    color: inherit;
  }
}

.bg-second-color {
  @include my_bg_second();

  a {
    color: $text-link-inv;
  }  

  a[role='menuitem'] {
    color: inherit;
  }
}

.bg-accent-color {
  @include my_bg_accent();

  a {
    color: $text-link;
  }  

  a[role='menuitem'] {
    color: inherit;
  }
}

// * Hover

.bg-vtransparent:hover {
  background-color: transparent;
  color: $text-clight;

  a:hover {
    color: $text-tlink-hover;
  }
  
  a[role='menuitem']:hover {
    background-color: $bgcolor-selected;
    color: $text-menuitem-hover;
  }
}

.bg-main-color:hover {
  @include my_bg_main();

  a:hover {
    color: $text-link-hover;
  }
  
  a[role='menuitem']:hover {
    background-color: $bgcolor-selected;
    color: $text-menuitem-hover;
  }
}


/**
* * Create new bootstrap buttons
*/

.btn-main-color {
  @include my_bg_main();

  &:hover {
    background-color: $main-color-hover;
    color: $text-clight !important;
  }
}

.btn-second-color {
  @include my_bg_second();

  &:hover {
    background-color: $second-color-hover;
    color: $text-cdark !important;
  }
}

.btn-accent-color {
  @include my_bg_accent();

  &:hover {
    background-color: $accent-color-hover;
    color: $text-clight !important;
  }
}


/**
* * Create new bootstrap text colors
*/

.text-main-color {
  color: $main-color;
}

.text-second-color {
  color: $second-color;
}

.text-accent-color {
  color: $accent-color;
}


/**
* * Rules for sizing the material icon.
*/

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}


/**
* * Rules for using icons as black on a light background.
*/

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);

  &.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }
}


/**
* * Rules for using icons as white on a dark background.
*/

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);

  &.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
}

// font-family: 'Cookie', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Press Start 2P', cursive;


/**
* * Add css variables to :root
*/

:root {
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-cookie: 'Cookie', cursive;
  --font-family-monoton: 'Monoton', cursive;
  --font-family-press-start-2p: 'Press Start 2P', cursive;
  --main-color: #{$main-color};
  --second-color: #{$second-color};
  --accent-color: #{$accent-color};
}
